@import "tailwindcss";


 @plugin "daisyui" {
   themes: light --default;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true
  --color-primary: #2bb958;
  /* btn */
  --color-secondary: #0C051A;
  /* text */
  --color-base-100: #f7f7f7; 
  /* bg */

}

a.active{
  color:#20a34a ;
  
}